* {
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(118, 73, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    color: rgb(118, 73, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container {
    border: 2px solid rgb(252, 252, 252);
    height: 500px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.btn-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border: 2px solid white;
    font-weight: bold;
}


#btn1 {
    background-color: #FBD065;
    color: white;
    border: 3px solid #FBD065;
}
#btn1:hover {
    color:  rgb(118, 73, 223);
    background-color: white;
}

#btn2 {
    background-color: #A7CD88;
    color: white;
    border: 3px solid #A7CD88;
}
#btn2:hover {
    color:  rgb(118, 73, 223);
    background-color: white;
}

#btn3 {
    background-color: #F3B0BF;
    color: white;
    border: 3px solid #F3B0BF;
}
#btn3:hover {
    color:  rgb(118, 73, 223);
    background-color: white;
}

button:hover{
    transform: scale(1.5);
    transition: all 0.5s;
 }

.message{
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.details {
    color: white;
    font-weight: bold;
    font-size: 20px;
}


span{
    background-color: #fff;
    color:rgb(118, 73, 223);
    padding: 5px 10px;
    border-radius: 4px;
}

@media (max-width:320px) {
    #container img {
        width: 750px;
        height: 800px;
        position: relative;
        left: -30px;
        top: 490px;
    }

    button {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        font-size: 25px;
    }

    #btn1 {
        top: 5rem;
        left: 0rem;
    }

    #btn2 {
        top: -30px;
        left: 35rem;
    }

    #btn3 {
        top: 130px;
        left: 16rem;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        left: 20rem;
        top: 10px;

    }

    #message,
    #details {
        text-align: center !important;
        left: 100px !important;
        top: 40rem !important;
        font-size: 60px;
    }

}